* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  letter-spacing: 0.05em;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family:Arial, Helvetica, sans-serif;
}

.my-container {
  display: flex;
  padding: 30px 24px;
}

.mt-20 {
  margin-top: 20px;
}

/* ---------------------------------------------- */
/* colors */

.bg-blue {
   background: #3BCEAC;
}

.bg-yellow {
  background: #FFD23F;
}

/* ---------------------------------------------- */
/*  header*/

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 10px 0; /* 40px 0 10px 0 */

}

header > h3 {
  width: 150px;
  border-bottom: 5px solid #FFD23F;
  text-align: center;
}

.site-logo {
  width: 100px;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
}

.black, .black:visited {
  color: #000;
}

/* ---------------------------------------------- */
/* nav */

nav {
  width: 20%; /* 22.75% */
  margin-right: 20px;
  padding: 20px;
/*   new */
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------- */
/* content */

.content {
  width: 60%; /* calc(100% - 22.75%) */
  margin-bottom: 50px;
}

h3:first-of-type {
  margin-top: 10px;
}

h3 {
  margin: 30px 0;
}

a {
  color: #525fd8;
  text-decoration: none;
}

 a:visited {
  color: #525fd8;
}

.title {
  border-bottom: 5px solid #52d3d8; /* #3BCEAC */
  text-align: left;
  padding:0 30px 5px 0px;
  line-height: 2em;
}

p {
  margin: 20px 20px 20px 0;
  width: 100%;
}

pre {
  background-color: #eee;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-flow: column;
}

.highlight {
  background: #a7ef93;
  padding: 2px;
}

.space {
  padding-left: 30px;
  background-color: #ddd;
}

.selector {
  color: red;
}

.property {
  color: green;
}

.value {
  color: purple;
}

.sub-title {
  background: #0EAD69;
  color: white;
  padding-left: 25px;
  padding-right: 3px;
  /* max-width: 250px; */
  text-align: right;
}

.inline-code {
  font-size: 1.3em;
  background: #a7ef93;
}

.code-sample {
  position: relative;
  left: -70px;
  padding-right: 50px;
}

/* ----------------------------------------------- */
/* testing my own drop down menu thingy */
ul, li {
  list-style: none;
}

nav li {
  display: initial;
}

.outside {
  width: 300px;
}

li.navArrow:nth-child(2) {
  padding-left: 5px;
}

.insideUL {
  display: none; /* hide at the start */
  margin-left: 20px;
}

.insideUL li {
  color: #3f87a6;
}

.rotate {
  color: #EE4266; /* #3f87a6 */
  font-size: 1.5em;
  display: inline-block;
  vertical-align: sub;
}

/* ----------------------------------------------- */
/* ads */
/* .ads {
  width: 20%;
  background: #EE4266;
  margin-left: 20px;
  padding: 20px;
} */

/* ----------------------------------------------- */
/* edited the animate.css stuff to match my own style needed */

.pop-in-top {
  position: relative;
  animation: popIntop 0.2s;
}

@keyframes popIntop {
  from {
    top: -30px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.pop-out-top {
  position: relative;
  animation: popOutTop 2s;
}

@keyframes popOutTop {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: -30px;
    opacity: 0;
  }
}

.w3-animate-top{
  position:relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from{
    top:-300px;
    opacity:0;
    }
    to {
      top:0;opacity:1;
    }
}


@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

/* @-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

.slideOutUp {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
} */

/* ----------------------------------------------- */
/* mobile */
@media  ( max-width: 600px ) {
  .my-container {
    flex-direction: column-reverse;
  }

  .content, nav {
    width: 100%;
  }

  nav {
    justify-content: flex-start;
  }
}

/* ------------------------------------------------------- */
