* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  letter-spacing: 0.05em;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family:Arial, Helvetica, sans-serif;
}

.my-container {
  display: flex;
  padding: 30px 24px;
}

/* ---------------------------------------------- */
/*  header*/

header {
  /* border: 1px solid orange; */
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 10px 0;

}

header > h3 {
  width: 150px;
  border-bottom: 5px solid #FFD23F;
  text-align: center;
}

.site-logo {
  width: 100px;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
}

/* ---------------------------------------------- */
/* nav */

nav {
  /* border: 1px solid red; */
  width: 20%; /* 22.75% */
  margin-right: 20px;
  padding: 20px;
/*   new */
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------- */
/* content */

.content {
  width: 60%; /* calc(100% - 22.75%) */
  /* border: 1px solid blue; */
}

content ~ h3 {
  margin-bottom: 30px;
}

.title {
  border-bottom: 5px solid #3BCEAC;
  text-align: left;
  padding:0 30px 5px 0px;
  line-height: 2em;
}

p {
  margin: 20px 20px 20px 0;
  /* border: 1px solid orange; */
}

pre {
  background-color: #eee;
  width: 100%;
  overflow-x: scroll;
}

.space {
  padding-left: 30px;
  background-color: #ddd;
}

.selector {
  color: red;
}

.property {
  color: green;
}

.value {
  color: purple;
}

.sub-title {
  background: #0EAD69;
  color: white;
  padding-left: 25px;
  max-width: 250px;
  text-align: right;
}

/* ----------------------------------------------- */
/* testing my own drop down menu thingy */
ul, li {
  list-style: none;
}

li {
  display: initial;
}

.outside {
  width: 300px;
}

li.navArrow:nth-child(2) {
  padding-left: 5px;
}

.insideUL {
  display: none; /* hide at the start */
  margin-left: 20px;
}

.insideUL li {
  color: #3f87a6;
}

.rotate {
  color: #3f87a6;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: sub;
}

/* ----------------------------------------------- */
/* edited the animate.css stuff to match my own style needed */

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

/* @-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

.slideOutUp {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
} */

/* ----------------------------------------------- */
/* mobile */
@media  ( max-width: 600px ) {
  .my-container {
    flex-direction: column-reverse;
  }

  .content, nav {
    width: 100%;
  }

  nav {
    justify-content: flex-start;
  }
}
